/* Main stuff */

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Liberation Mono', Consolas, monospace;
	font-size: 12px;
}

a:link, nav, #ribbon a, .tiles > li, article, .games > li {
	background-color: #fff;
	color: #1B1825;
}

html, h1, h1 > a:link, .download, .download a:link, time, article > h2, article > h2 > a:link,
header > a:link, .web-game > article, #webgame-links > a:link {
	background-color: #1B1825;
	color: #fff;
}

body, header {
	max-width: 970px;
	min-width: 310px;
	border: 2px solid #fff;
}

body {
	max-width: 974px;
	margin: 0px auto;
	padding: 2px;
}

header {
	max-height: 128px;
}

p {
	padding: 15px 20px 5px 20px;
	line-height: 140%;
	word-break: break-word;
	hyphens: auto;
	-moz-hyphens: auto;
}

p img {
	max-width: 100%;
	height: auto;
}

ul {
	list-style-type: none;
}

abbr {
	cursor: help;
	border-bottom: 1px dotted #000;
}

h2 {
	padding: 10px 0px;
	text-decoration: underline;
	font-size: 120%;
	line-height: 120%;
}

h1 {
	display: inline-block;
	width: 80%;
	max-width: 435px;
	margin: -3% 3% 1% 3%;
	padding: 4px;
	border: 2px solid #fff;
	text-decoration: none;
	text-indent: 24px;
	font-size: 16px;
	line-height: 24px;
	font-variant: small-caps;
}

header > a {
	display: block;
	width: 100%;
	text-align: center;
	padding: 2% 0%;
}

header > a > img {
	font-size: 300%;
	width: 60%;
	height: auto;
	image-rendering: optimizeSpeed;
	image-rendering: pixelated;
	image-rendering: -ms-interpolation-mode:nearest-neighbor;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: -moz-crisp-edges;
	image-rendering: crisp-edges;
}

#info {
	display: inline-block;
	width: 20%;
	max-width: 140px;
	height: auto;
	border-left: 2px solid #fff;
	padding: 5px;
}

nav {
	display: block;
	text-align: center;
	padding: 0px;
	margin: 2px 0px;
}

nav ul li {
	display: inline-block;
	min-width: 60px;
	width: 15%;
	font-weight: bold;
	margin: 0px -1px;
	border-left: 2px solid #1B1825;
	border-right: 2px solid #1B1825;
}

nav ul li a {
	font-size: 85%;
}

main {
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcAQMAAABIw03XAAAABlBMVEUbGCX///8LtO7KAAAAR0lEQVQIHQXBMRHAIBAAsHAMjFQBGioAUR0ZX9pLeQlIaCJ5FQ9cB+hpAZMRYNMKXBzoiQUTRmBDK1xw6AkWExhhA61cCL4fXe4PtaJLCEAAAAAASUVORK5CYII=") repeat;
	border: 2px solid #fff;
	text-align: center;
	line-height: 100%;
	/*padding-bottom: 3%;*/
}

#ribbon a {
	border: 2px solid #1B1825;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 75%;
	line-height: 120%;
	padding-top: 2px;
	text-decoration: none;
	margin: -2px -2px 0px -2px;
}

a.rss {
	display: inline-block;
	float: right;
	width: 24px;
	padding-bottom: 24px;
	background: transparent url('/img/feed-icon-28x28.png') no-repeat 0 0;
	background-size: 100%;
	color: #fff;
}

a.rss span {
	display: none;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

/* Homepage stuff */

.tiles {
	display: block;
	width: 12%;
	max-width: 112px;
	min-width: 40px;
	float: left;
	margin-left: 3.5%;
}

.tiles > li {
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
	max-width: 100px;
	width: 90%;
	border: 6px double #1B1825;
	margin: 25% -9px 10% -9px;
	overflow: hidden;
}

.tiles > li > a {
	display: block;
	line-height: 100%;
	text-align: center;
	width: 100%;
	height: 100%;
	position: relative;
	height: 0;
	padding-bottom: 100%;
}

.tiles > li > a > span {
	display: block;
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAlgAAADIAQMAAAAOUQ31AAAAAXNSR0IArs4c6QAAAAZQTFRFGxgl////C7TuygAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfcCwgUJQt/Qm3JAAAA/klEQVRo3u3WwY3CMBSE4eG0x1cCpdAapVLCq4DZg+04SA4ibJCW5J+gKDjWl4v1NPJ2ERbWoiVJUhzVur32CSwsrF1bd9WH1A8WFhbWUa0pWFhYWFi3jfoqFhYWFpZtX3Ueb8JaZ70YLCys/2n9NbuzUif7qvBduqywRnMVCwvra6xVnQmLjomFRS/E2rNFyGdjS+Wk2ZIlT39d1mTVPeVFOBV2Rioy7Aw7sbBGltvW2U0F6G/LVdci57/ItoKFtWT1Y4qFtallL53VWvWa1WZmh2xnG4zCwhpZT2ZhX6t3ye/OVawjW1OXa+Wtdrm59dDlutVKHRbWwCLkO/ILIOOhkw6uLNkAAAAASUVORK5CYII=") no-repeat 0 0;
	background-size: 300%;
	height: 0;
	padding-bottom: 100%;
}

.tiles > #games > a > span {
	background-position: 50% 0px;
}

.tiles > #other > a > span {
	background-position: 100% 0px;
}

.tiles > #gh > a {
	background-image: url("/img/GitHub-Mark-120px-plus.png");
	background-size: 100%;
}

#contact {
	font-weight: bold;
}

#contact > span {
	display: block;
	font-size: 75%;
	line-height: 180%;
}

#contact > span > a {
	font-size: 100%;
}

#contact > span:nth-of-type(odd) {
	color: #fff;
	background-color: #1B1825;
}

/* generic posts stuff */

time {
	display: block;
	text-align: center;
	padding: 5px;
	border: 2px solid #fff;
	border-bottom: 2px dotted #fff;
	width: 100px;
	font-weight: bold;
	position: relative;
	top: 4px;
	left: 2px;
}

#posts {
	margin: 2.5% 3%;
}

#posts.homepage {
	display: inline-block;
	width: 76.5%;
}

#posts.homepage > h1 {
	margin: -2%;
	text-indent: 0px;
}

#posts.web-game {
	margin-top: 0;
}

article {
	display: block;
	text-align: left;
	border: 6px double #1B1825;
	margin-bottom: 3%;
}

article > h2 {
	display: block;
	border-bottom: 6px double #fff;
	padding: 7px 10px;
	text-decoration: none;
	font-weight: normal;
	font-size: 120%;
	line-height: 120%;
}

article > h2 > a, article > h2 > a:link {
	text-decoration: none;
	font-size: 120%;
	line-height: 120%;
}

article > h3 {
	font-size: 160%;
	padding: 4px;
	display: block;
	border-bottom: 2px dotted #1B1825;
	font-variant: small-caps;
	margin: 15px;
}

article > ul {
	padding: 5px 20px;
	line-height: 140%;
	list-style-type: square;
}

figure {
	margin: 20px auto;
	text-align: center;
}

figure img {
	max-width: 100%;
	height: auto;
}

figure.highlight {
	text-align: left;
}

figcaption {
	font-style: italic;
	font-size: 80%;
}

code:not([class]) {
	font-weight: bold;
}

/* Games stuff */

.game {
	text-align: center;
	overflow: hidden;
	min-height: 120px;
}

.game > h2, .game > h2 > a {
	display: inline;
	font-size: 18px;
	line-height: 200%;
}

.game > a > img {
	float: left;
	margin-right: 2%;
	width: 40%;
	max-width: 200px;
}

.game.alt > a > img {
	float: right;
	margin-right: 0px;
	margin-left: 2%;
}

.download {
	border-top: 2px solid #fff;
	text-align: left;
	z-index: 100;
}

.stats {
	padding-right: 5%;
	padding-top: 10px;
	list-style: square;
}

.stats > li, .download > li {
	display: inline-block;
	min-width: 100px;
	text-align: center;
	vertical-align: middle;
	padding-top: 4px;
}

.download > li {
	text-align: left;
	margin-right: 3%;
	min-width: 80px;
}

.web-game > article {
	display: inline-block;
	width: 85%;
	max-width: 720px;
	margin: 2% auto;
	border: 6px double #fff;
	text-align: center !important;
}

.web-game > article:-webkit-full-screen {
	display: block;
	max-width: none;
	width: calc(100% - 12px);
	height: calc(100% - 12px);
	margin: 0 auto !important;
	padding: 0px;
}

#webgame-links > a {
	display: inline-block;
	text-align: center;
	font-size: 75%;
	font-weight: bold;
	padding-left: 8px;
	margin: 5px 0;
}

#webgame-links > a:not(:first-of-type) {
	border-left: 2px solid #fff;
}

#webgame > canvas {
	width: 100%;
	height: 100%;
}

button {
	border-radius: 0;
	border: 3px double #1B1825;
	background: #fff; 
	color: #1B1825;
	margin: 0px 1% 1% 1%;
	cursor: pointer;
	font-variant: small-caps;
	font-weight: bold;
}

button:active {
	background: #ccc;
	text-shadow: -1px  0px 0px #fff, 1px 0px 0px #fff,
	              0px -1px 0px #fff, 0px 1px 0px #fff;
}

button:focus {
	outline: 0;
}

button::-moz-focus-inner {
	border: 0px;
}

button#reset, button#fullscreen, button#undo {
	min-width: 80px;
	width: 27%;
}

/* Adjust the ribbon and stuff for bigger screens */

@media screen and (min-width: 920px) {
	html {
		padding: 0px 3%;
	}
	body {
		margin: 3% auto;
	}
	#ribbon {
		width: 180px;
		height: 180px;
		overflow: hidden;
		position: absolute;
		top: 0px;
		right: 0px;
	}
	#ribbon a {
		width: 220px;
		margin-top: 50px;
		border: 6px double #1B1825;
		font-size: 100%;
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
	}
}

@media screen and (min-width: 460px) {
	* {
		font-size: 14px;
	}
}

