<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta name=viewport content="width=device-width, initial-scale=1" />
{% if page.desc %}<meta name="description" content="{{ page.desc }}" />{% endif %}
<meta name="google-site-verification" content="1G0vV4IC2Xn2xkIfIhhyR7nloTLarBDY9v0ivYAA5D4" />
<title>Alex Baines - {{ page.title }}</title>
<link rel="stylesheet" href="/style.css"/>
<link rel="stylesheet" href="/syntax.css"/>
</head>
<body>
<div id="ribbon"><a href="https://github.com/baines">Fork me on GitHub!</a></div>
<header>
<a href="/"><img src="/img/head.png" alt="Alex Baines" title="That's my name, don't wear it out."/></a>
</header>
<nav>
<ul>
<li><a href="/">Home</a></li><li><a href="/about/">About</a></li><li><a href="/other/">Projects</a></li><li><a href="/games/">Games</a></li><li><a href="/updates/">Updates</a></li>
</ul>
</nav>
<main>
{{ content }}
</main>
</body>
</html>
